/* --Reset CSS-- */
body,div,dl,dt,dd,ul,ol,li,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a {
	text-decoration:none;
}
a:visited {
	color: #333;
}
table {
    border-spacing: 0;    
}
fieldset,img {
    border: 0;
}
strong {
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}
abbr,acronym { 
	border: 0;
}
/* --Google Font-- */
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
/* --Custom CSS-- */
* {
 	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #000;
}
#wrapper {
	max-width: 100%;
	padding:0;
	margin:0;
	height: auto;
	overflow: hidden;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.content {
	height: auto;
	margin-top: 90px;
}
h1 {
	font-size: 3.5em;	
}
p {
	font-size: 2em;
}
/* --index header-- */
header {
	width: 100%;
	height: 90px;
	position: fixed;
	top: 0;
	left: 0;
	background: url(../images/header-bg.png) repeat-x;
	z-index: 8888;
}
#logo a {
	position: fixed;
	background: url(../images/fsp-logo.png) no-repeat;
	background-position: 0 center;
	-webkit-background-size: 110px;
	background-size: 110px;
	display: block;
	width: 137px;
	height: 90px;
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
}
/* --index nav-- */
nav {
	float: right;
}
.nav_btn {
	display: none;
	position: absolute;
	right: 10px;
	top: 20px;
}
.nav_link {
	float: right;
}
.nav_link > li > ul {
	display: none;
}
.nav_link > li {
	float: left;
}
.nav_link > li:hover > ul {
	display: block;
}
.nav_link > li > a {
	display: block;
	width: 100px;
	height: 90px;
	line-height: 90px;
	text-align: center;
	color: #333;
}
.nav_link > li > a:hover, .sub_nav_link > li > a:hover{
	color: #fff;
	background-color: #333;
}
/* --index nav sub-- */
.sub_nav_link {
	width: 100%;
}
.sub_nav_link > li {
	background: url(../images/header-bg.png) repeat;
}
.sub_nav_link > li > a {
	display: block;
	width: 100px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	color: #333;
}
/* --index bottom menu-- */
 #menu {
	position: fixed;
	left:0;
	bottom: 35px;
	height: 48px;
	color: #fff;
	width: 100%;
	padding: 0;
	margin:0;
	text-align: center;
	z-index: 9999;
}
#menu li {
	display:inline-block;
	color: #fff;
	background: url(../images/click_bg.png) no-repeat center;
	padding: 5px 0;
}
#menu li.active {
	background: url(../images/click_bg_active.png) no-repeat center;
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #fff;
}
#menu li.active a:hover {
	color: #fff;
}
#menu li:hover {
	color: #fff;
}
#menu li a, #menu li.active a {
	padding:15px 60px;
	display:block;
}
#menu li.active a {
	color: #fff;
}
/* --index content section bg-- */
#section0, #section1, #section2, #section3{
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
#section0 {
	background-image: url(../images/bg0.jpg);
}
#section1 {
	background-image: url(../images/bg1.jpg);
}
#section2 {
	background-image: url(../images/bg2.png);
}
#section3 {
	background-image: url(../images/bg3.jpg);
}
/* --section common style-- */
.section_wrap {
	position: relative;
	width: 100%;
	height: 728px;
}
.slogan {
	position: absolute;
	top: 120px;
	left: 30px;
	width: 450px;
	font-weight:100;
	font-size: .8em;
	color: #222;
	z-index: 9999;
}
.intro-box {
	position: absolute;
	width: 450px;
	margin-top: -20px;
	text-align: left;
	background: url(../images/feature-product-bg.png) no-repeat;
	background-position: center;
	z-index: 999;
}
.intro-pd-pic {
	width: 450px;
	height: 400px;
}
.intro-pd-pic p {
	display: none;
}
.intro-title {
	font-size: 40px;
	display: block;
	margin: 0;
	padding: 50px 0 0 125px;
}
.intro-btn {
	position: absolute;
	width: 64px;
	height: 400px;
	cursor: pointer;
}
.intro-feature.intro-open {
	transition: .5s;
	opacity: 1;
}
.intro-feature {
	position: absolute;	
	top: 0;
	width: 400px;
	height: 362px;
	background: url(../images/feature-bg.png) repeat-x;
	background-position: center;
	opacity: 0;
}
.intro-feature h3 { 
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  display: block;
  float: left;
  position: absolute;
  padding-top: 45px;
}
.fea-list li {	
	font-size: 20px;
	width: 100%;
	font-weight: 400;
	color: #fff;
	display: block;
	float: left;
	padding-top: 20px;
}
/* --index content 5200/2600 */
.coming_center {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -103px 0 0 -401px;
}
.coming_center img {
	width: 700px;
	height: auto;
}
/* --index content section0(10400mAh)--*/
#section0 .section_content {
	position: absolute;
	bottom: 20px;
	right: 20px;
	width: 400px;
	height: 450px;
}
#section0 .intro-pd-pic {
	background: url(../images/10400_index.png) no-repeat;
	background-position: 75px 35px;
}
#section0 .intro-btn {
	top: -1px;
	left: 44px;
	background: url(../images/feature-click-before.png) no-repeat;
	background-position: center;
}
#section0 .intro-feature {
	left: -291px;
}
#section0 .intro-feature h3 {
	padding-left: 10px;
}
#section0 .intro-feature a {
	position: absolute;
	width: 90px;
	height: 20px;
	right: 60px;
	bottom: 58px;
	display: block;
	color: #fff;
	z-index: 9999;
}
#section0 .fea-list {
	position: absolute;
	top: 70px;
}
#section0 .fea-list li {	
	padding-left: 10px;
}
.selected {
	background: url(../images/feature-click-after.png) no-repeat;
	width: 65px;
	height: 279px;
	z-index: 1000;
}
/* --index content section1(7800mAh)-- */
#section1 .section_content {
	position: absolute;
	left: 20px;
	bottom: 20px;
	width: 400px;
	height: 450px;
}
#section1 .intro-pd-pic {
	background: url(../images/7800_index.png) no-repeat;
	background-position: -5px 50px ;
}
#section1 .intro-btn {
	right: 43px;
	background: url(../images/feature2-click-before.png) no-repeat;
	background-position: center;
}
#section1 .intro-feature {	
	left: 343px;
}
#section1 .intro-feature h3 {
	padding-left: 70px;
}
#section1 .intro-feature a {
	position: absolute;
	right: 15px;
	bottom: 58px;
	display: block;
	color: #fff;
}
#section1 .fea-list {
	position: absolute;
	top: 70px;
	left: 20px;
}
#section1 .fea-list li {	
	padding-left: 50px;
}
/*--pages about-- */
.about_main {
	height: 100%;
	text-align: center;
}
.about_text h2 {
	padding: 20px;
}
.about_text span {
	font-size: 24px;
	text-indent: 28px;	
	display: inline-block;
}
.about_text p {
	width: 600px;
	font-size: 16px;
	color: #666;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	text-align: justify;
}
.about_text a {
	display: block;
	width: 100%;
	height: 100%;
	margin-bottom: 50px;
}
/* --pages product-- */
main {
	width: auto;
	height: auto;
	clear: both;
	margin: 0;
	padding: 0;
	border: 0;
}

/* --pages product font-- */
main p {
	font-size: 22px;
}
main h2{
	font-size: 42px;
}
/* --pages product 10400 & 7800-- */
.pb10400mAh .banner {
	background: url(../images/10400banner.png) no-repeat;
	background-size: cover;
	background-position: left top;
	max-height: 260px;
	height: 350px;
}
.pb7800mAh .banner {
	background: url(../images/7800banner.png) no-repeat;
	background-size: cover;
	background-position: 0 90px;
	height: 350px;
}
article {
	width: 100%;
	height: 100%;
	/* margin: 40px 0 40px 0; */
	margin: 0 auto;
	text-align: center;
}
/* --pages product content feature-- */
.feature-box {
  margin-top: 60px;
}
.feature-box:after {
	content: '';
	display: table;
	clear: both;
}
.f-box {
  float: left;
  width: 480px;
  height: 480px;
}
.f-box h2 {
  padding: 50px 0 0 30px;
}
.f-box p {
  padding: 30px 0 0 30px;
}
.spec_table {
	width: 550px;
	margin: 0 auto;
	margin-bottom: 40px;
}
.spec_table caption {
	font-size: 30px;
	text-align: left;
	padding: 0 0 10px 0;
}
.spec_table .td1{
	width: 200px;
	padding: 7px 7px 7px 20px;
	text-align:left;
}
.spec_table td{
	width: 300px;
	padding: 7px 7px 7px 20px;
	text-align:left;
}
.spec_table tr:nth-child(odd) {
	background: #ccc;
}

/* --pages knowledge-- */
.knowledge_main {
	width: 100%;
	height: auto;
}
.knowledge_main .banner {
	width: 100%;
	height: 250px;
	background: url(../images/knowledge_banner.png) no-repeat;
}
.text_knowledge {
	padding-top: 100px;
	font-size: 36px;
	font-weight: bold;
	text-align: right;
}
#qaContent {
	width: 600px;
	height: auto;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
}
#qaContent h3.qa_group_1 {
	background: url(qa_group_1.gif) no-repeat;
}
#qaContent h3.qa_group_2 {
	background: url(qa_group_2.gif) no-repeat;
}
#qaContent ul.accordionPart {
	margin: 10px 10px 50px 0px;
}
#qaContent ul.accordionPart li {
	border-bottom: solid 1px #e3e3e3;
	padding-bottom: 12px;
	margin-top: 12px;
}
#qaContent ul.accordionPart li .qa_title {
	background: url(icon_q_a.gif) no-repeat 0px 3px;
	padding-left: 28px;
	color: #1186ec;
	cursor: pointer;
}
#qaContent ul.accordionPart li .qa_title_on {
	text-decoration: underline;
}
#qaContent ul.accordionPart li .qa_content {
	margin: 6px 0 0;
	background: url(icon_q_a.gif) no-repeat 0px -24px;
	padding-left: 28px;
	color: #666;
}
/* --pages where to buy-- */
.wheretobuy_list {
	width: 400px;
	margin: 100px auto;
	font-size: 16px;
}
.wheretobuy_list li {
	height: auto;
	margin-bottom: 40px;
}
.wheretobuy_list li:after {
	content: "";
	display: table;
	clear: both;
}
.wheretobuy_list p {
	font-size: 18px;
}
.wheretobuy_list img {
	max-width: 100%;
	height: auto;
}
/* --index footer-- */
.clear {
	clear: both;
}
footer {
	position: fixed;
	width: 100%;
	height: 40px;
	background: #111;
	bottom: 0;
	left: 0;
	color: #fff;
	z-index: 9999;
	text-align: center;
}
footer .copyright {
	display: inline-block;
	height: 30px;
	line-height: 40px;
	margin-right: -35px;
}
footer img {
	display: block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	float: right;
	margin: 5px 15px 0 0;
}
/* Responsive */
/* --tablet-- */
@media screen and (min-width: 768px) and (max-width: 1023px) {
	#logo a {
		left: 15px;
	}
	nav {
		float: none;
	}
	.section_content {
		position: absolute;
		bottom: 20px;
		width: 400px;
		height: 450px;
	}
	.container {
		width: 768px;
		margin: 0 auto;
	}
	/* --index section-- */
	#section0 {
		background-image: url(../images/bg0-s.jpg);
	}
	.slogan {
		margin-top: -20px;
		color: #eee;
	}
	/* --pages product feature-- */
	.f-box {
	  float: none;
	  width: 100%;
	  height: auto;
	  text-align: center;
	  margin-bottom: 30px;
	}
	.f-box img {
	  max-width: 100%;
	  height: auto;
	  padding-left: 15px;
	}
	.f-box h2 {
	  font-size: 2em;
	  padding: 0 15px;
	}
	.f-box p {
	  font-size: 1.2em;
	  padding: 0 15px;
	}
	.f-box:nth-child(3) {
		position: relative;
		bottom: -100px;
	}
	.f-box:nth-child(4) {
		position: relative;
		top: -470px;
	}
	.f-box:nth-child(7) {
		position: relative;
		bottom: -100px;
	}
	.f-box:nth-child(8) {
		position: relative;
		top: -400px;
	}
	/* --pages knowledge-- */
	.text_knowledge {
		font-size: 26px;
		padding-top: 280px;
		text-align: center;
	}
	#qaContent {
		margin-top: 100px;
		margin-left: auto;
		margin-right: auto;
	}
}
/* --mobile-- */
@media screen and (max-width: 767px) {
	#wrapper {
		width:100%;
		min-width: 320px;
		height: auto;
		display: relative;
		margin-top: -30px;
		overflow: hidden;
	}
	.container {
		width: 100%;
		margin: 0 auto;
	}
	.content {
		height: auto;
	}
	header {
		width: 100%;
		height: 60px;
		background: url(../images/header-bg.png) repeat-x;
	}
	#logo a {
		position: static;
		background-position: 15px center;
		-webkit-background-size: 80px;
		background-size: 80px;
		display: block;
		width: 120px;
		height: 60px;
	}
	/* --index nav--*/
	nav {
		float: none;
		display: none;
		width: 100%;
		height: 40px;
		margin: 0;
	}
	nav.active {
		display: block;
	}
	.nav_btn {
		position: fixed;
		top: 15px;
		display: block;
		/* font-size: 40px; */
		width: 32px;
		height: 32px;
		transition: .3s;
		cursor: pointer;
	}
	.nav_btn img {
		display: block;
		width: 32px;
		height: 32px;
	}
	.nav_btn.rotate {
		width: 32px;
		height: 32px;
		-ms-transform: rotate(135deg); /* IE 9 */
	    -webkit-transform: rotate(135deg); /* Safari */
		transform: rotate(135deg);
	}
	.nav_link {
		float: none;
	}
	.nav_link > li {
		float: none;
		color: #333;
		background-color: #c4c8c9;
	}
	.nav_link > li > a {
		display: block;
		width: 100%;
		color: #111;
		height: 44px;
		line-height: 44px;
	}
	/*--index nav sub--*/
	.sub_nav_link {
		display: block;
		height: 100%;
	}
	.nav_link > li:hover > ul {
		display: block;
	}
	.sub_nav_link > li {
		display: block;
		width: 100%;
		background: #aaa;
		text-align: center;
	}
	.sub_nav_link > li > a {
		display: block;
		height: 44px;
		width: 100%;
		padding: 0 15px;
		line-height: 44px;
	}
	/* --index bottom menu-- */
	#menu {
		position: fixed;
		bottom: 40px;
		height: 40px;
	    min-width: 320px;
		background-color: #000;
		font-size: 14px;
	}
	#menu li {
		color: #fff;
		background: #000;
		line-height: 35px;
	}
	#menu li.active {
		background: rgba(255,255,255,.3);
	}
	#menu li a {
		display: block;
		width: 100%;
		text-decoration:none;
		color: #fff;
	}
	#menu li.active a:hover {
		color: #fff;
	}
	#menu li a, #menu li.active a {
		padding: 0 5px 0 5px;
	}
	/* --index content section-- */
 	.section_wrap {
		position: static;
		max-width: 100%;
		height: auto;
	}
	#section0 .section_content, #section1 .section_content {
		position: static;
		max-width: 100%;
		width: 300px;
		height: 100%;
		margin: 0 auto;
		margin-bottom: 0px;
	}
	#section0 {
		background-image: url(../images/bg0-s.jpg);
		background-size: cover;
		background-position: left center;
		background-repeat: no-repeat;
	}
	/* --section common style-- */
	.slogan {
		display: none;
	}
	.intro-box {
		position: static;
		width: 300px;
		height: 100%;
		margin: 0 auto;
		text-align: center;
		background: transparent;
		-webkit-background-size: 300px 300px;
		background-size: 300px 300px;
	}
	.intro-btn {
		display: none;
	}
	.intro-feature.intro-open {
		display: none;
	}
	.intro-pd-pic {
		width: 300px;
		height: 300px;
		margin: 0 auto;
		position: relative;
	}
	.intro-title {
		font-size: 34px;
		padding: 40px 0 0 0;
		color: #eee;
		text-shadow: -3px 3px 4px #222;
	}
	.intro-pd-pic a {
		color: #eee;
	}
	/* --index content section0 10400-- */
	#section0 .intro-pd-pic {
		background: url(../images/10400_index.png) no-repeat;
		background-position: 0px 20px;
		-webkit-background-size: 300px 300px;
		background-size: 300px 300px;
	}
	#section0 .intro-pd-pic p {
		display: block;
		font-size: 15px;
		padding: 125px 0 0 0;
	}
	#section0 .goto-pd-btn {
		position: absolute;
		top: 40%;
		left: 0;
		width: 100%;
		height: 120px;
	}
	/* --index content section1 7800-- */
	#section1 .intro-pd-pic {
		background: url(../images/7800_index.png) no-repeat;
		background-position: 0px 30px;
		-webkit-background-size: 300px 300px;
		background-size: 300px 300px;
	}
	#section1 .intro-pd-pic p {
		display: block;
		font-size: 15px;
		padding: 125px 0 0 0;
		color: #000;
	}
	#section1 .goto-pd-btn {
		position: absolute;
		top: 40%;
		left: 0;
		width: 100%;
		height: 120px;
	}
	/* --5200/2600-- */
	.coming_center {
		position: relative;
		top: -30px;
		left: 0;
		width: 300px;
		margin: 0 auto;		
	}
	.coming_center img {
		position: absolute;
		width: 300px;
		height: auto;
	}
	/* --pages about-- */
	.about_main {
		width: 100%;
		height: auto;
		margin-top: 0;
	}
	.about_main img {
		width: 100%;
		height: auto;
	}
	.about_text h2 {
		width: 100%;
		font-size: 26px;
		padding: 15px;
	}
	.about_text p {
		width: 100%;
		height: 100%;
		padding: 15px;
	}
	.about_text a {
		display: block;
		width: 100%;
		height: 100%;
		margin-bottom: 40px;
	}
	/* --pages product-- */
	main {
		width: 100%;
		height: 100%;
		clear: both;
	}
	/* --pages product 10400 / 7800 / 5200 / 2600-- */
	.pb10400mAh .banner {
		background: url(../images/10400banner.png) no-repeat;
		background-size: cover;
		background-position: left top;
		height: 160px;
	}
	.pb7800mAh .banner {
		background: url(../images/7800banner.png) no-repeat;
		background-size: cover;
		background-position: 0 90px;
		height: 260px;
	}
	/* --pages product feature-- */
	.f-box {
	  float: none;
	  width: 100%;
	  height: auto;
	  text-align: center;
	  margin-bottom: 30px;
	}
	.f-box img {
	  max-width: 100%;
	  height: auto;
	  padding-left: 15px;
	}
	.f-box h2 {
	  font-size: 2em;
	  padding: 0 15px;
	}
	.f-box p {
	  font-size: 1.2em;
	  padding: 15px 15px 0 15px;
	}
	.f-box:nth-child(3) {
		position: relative;
		bottom: -160px;
	}
	.f-box:nth-child(4) {
		position: relative;
		top: -380px;
		padding-bottom: 60px;
	}
	.f-box:nth-child(7) {
		position: relative;
		bottom: -120px;
		padding-top: 30px;
	}
	.f-box:nth-child(8) {
		position: relative;
		top: -400px;
	}
	article {
		width: 100%;
		height: 100%;
		margin: 40px 0 40px 0;
		text-align: center;
	}
	.spec_table {
		width: 100%;
		height: auto;
		margin: 0;
	}
	.spec_table caption {
		font-size: 30px;
		padding: 0 0 10px 20px;
	}
	/* --pages knowledge-- */
	.knowledge_main .banner {
		width: 100%;
		height: 135px;
		padding-bottom: 25%;
		background: url(../images/knowledge_banner.png) no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
		background-position: left top;	
	}
	.text_knowledge {
		width: 100%;
		font-size: 26px;
		padding: 160px 0 0 15px;
		text-align: left;
	}
	#qaContent {
		width: 100%;
		margin: 80px 0 0 0;
		margin-left: -10px;
	}
    /* --pages where to buy-- */
	.wheretobuy_list {
		width: 100%;
	}
	.wheretobuy_list li {
		padding: 15px;
	}
	.wheretobuy_list p {
		font-size: 16px;
	}
	footer .copyright {
		font-size: 12px;
		line-height: 40px;
	}
	footer img {
		display: block;
		width: 30px;
		height: 30px;
		margin-top: 5px;
	}
}
